<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/image.png">
    <link rel="stylesheet" href="../static/css/show_main.css">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <title>Kiểm tra dầu</title>
    <!-- <script>
    if (localStorage.getItem("app_open") === "true") {   // kiem tra xem trinh duet mo hay chua 
      window.location.href = "/empty_page.html";   
    } else {
      localStorage.setItem("app_open", "true");
    }
    window.addEventListener("beforeunload", () => {
      localStorage.removeItem("app_open");
    });
    </script> -->
</head>
<body>
    <div class = "header">
        <ul class ="header-ul">
            <li class="header-ul-li " id = "choose-product">Chọn loại sản phẩm</li>
            <li class="header-ul-li " id = "add-product">Thêm sản phẩm mới</li>
            <li class="header-ul-li">Cấu hình master
                <img id = "preview">
                 <ul class = "header-ul-li-master">
                    <li id="header-ul-li-add-take">Chỉnh sửa master</li>
                    <li id="header-ul-li-master-take">Lấy master</li>
                    
                 </ul>
            </li>
            <li class="header-ul-li">Log
                 <ul class="header-ul-li-log">
                    <li>Log hình ảnh dầu</li>
                    <li>Log sản phẩm</li>
                    <li>Log thiết bị</li>
                 </ul>
            </li>
            <li class="header-ul-li">Thông tin
                 <ul class = "header-ul-li-infomation">
                    <li>Thông tin camera</li>
                    <li>Thông tin sản phẩm</li>
                    <li>Thông tin cổng COM</li>
                    <li>Thông tin phầm mềm</li>
                    <li>Hướng dẫn sử dụng </li>
                    <li>Hướng dẫn training sản phẩm mới</li>
                 </ul>
            </li>
            <li id="api-training" class="header-ul-li training">Traning sản phẩm mới</li>
            <li id="api-run" class="header-ul-li ">Chạy</li>   
            <li class="header-ul-li close" style="text-align: center;padding-left: 70px;" id="out-app">Thoát</li>
        </ul>
    </div>
    <div class="split-frame">
        <div class = "show-screen">
                <div class = "show-img-master">
                      <button class="scroll-up">◀️</button>
                      <div class = "scroll-container">
                           <div id = "scroll-content" data-img='{{ path_arr_img | tojson | safe }}'>
                               <!-- Noi dung duoc chen o day -->
                           </div>
                      </div>
                      <button class="scroll-down">▶️</button>
                </div>
                <div class = "show-img">
                      <!-- <img id="show-img-preview" src="" alt="Ảnh preview" /> -->
                      <canvas id = "canvas-img"></canvas>   <!--Vẽ Ảnh-->
                      <canvas id = "canvas-img-preview"></canvas> <!--nét tren vẽ -->
                      <canvas id = "canvas-img-show-add-master"></canvas> <!--nét tren vẽ -->
                </div>
                <div class = "show-satus">
                    <p id = "coordinate"></p>
                    <div class="header-show-item-conect item1">
                        <p class="header-show-circle on"></p>    
                        <h2  id="header-show-status">Chờ kết nối....</h2>
                    </div>
                    <div class="header-show-item-conect item2">
                        <p class="header-show-circle off "></p>    
                        <h2  id="header-show-status">Chờ kết nối....</h2>
                    </div>
                </div>
        </div>
        <div class = "show-option">
                <div id="paner-main" class = "paner active">
                    <div class = "paner-main-status-product ">   <!--chon run ok eg tuy vao trang thai phan dinh -->
                        --
                    </div>
                    <div class = "paner-main-table-show-point">
                         <p>Đây là bảng show point</p>     
                    </div>
                    <div class="paner-main-show-log ">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptate, quam eius inventore libero, quidem odio molestias eveniet minima, nemo molestiae totam modi ipsum sequi nulla nihil iste error explicabo.
                    </div>
                </div>
                <div id="paner-take-master" class="paner take-master">
                        <div id="part-table-log">
                            <!-- Bảng table sẽ hiển thị bằng JS -->
                            <div class="log"></div>
                            <table class="table">
                                <tbody id="table"></tbody>
                            </table>
                        </div>
                        <div class="part-controler">
                            <div class="contour-select">
                                <label for="list-contour" >Chọn biên dạng</label>
                                <div id="list-contour">
                                    <img id ="btn-square" src="../static/img/rectangle.png" alt="Hình Vuông" style="margin-left:33px;">
                                    <img id = "btn-circle" src="../static/img/circle.png" alt="Hình Tròn">
                                </div>
                            </div>
                            <button id = "btn-select-min"><img src="../static/img/stop.png" alt="icon vẽ đường bao nhỏ nhất"> Vẽ đường bao điểm</button>
                            <button id = "btn-undo"><img src="../static/img/eraser.png" alt="icon xóa hình"> Xóa hình trước</button>
                            <button id = "btn-erase"><img src="../static/img/clean-up.png" alt="icon xóa tất cả"></i> Xóa tất cả các hình</button>
                            <button id = "btn-check"><img src="../static/img/check.png" alt="icon kiểm tra tính hợp lệ">Kiểm tra hợp lệ</button>
                            <button id = "btn-accept-and-send-server"><img src="../static/img/apply.png" alt="Áp dụng và thoát"> Áp dụng</button>
                            <button id = "btn-close"><img src="../static/img/apply.png" alt="Áp dụng và thoát"> Thoát</button>
                        </div>
                </div>
                <div id="panel-add-master" class="paner add-master">
                    <!-- Bảng thông tin loại sản phẩm -->
                    <div class="panel-table">
                        <table class="product-table">
                            <thead>
                                <tr>
                                    <th>Tên loại</th>
                                    <th>Max X</th>
                                    <th>Max Y</th>
                                    <th>Max Z</th>
                                    <th>Max K</th>
                                </tr> 
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="log log-area" id="log_add_master"></div>
                    </div>
                    <!-- Nút điều khiển 1 điểm -->
                    <div class="controls-single-point">
                        <div class="anonymous" id="anonymous">
                            <!-- <div class = "Alight-items-x">    
                                <label >Nhập X</label>
                                <input type="number"  placeholder="Nhập X > 0" /> 
                            </div>
                            <div class = "Alight-items-x">   
                                <label for="input-y">Nhập Y</label>
                                <input type="number"  placeholder="Nhập Y > 0" /> 
                            </div>
                                <div class = "Alight-items-x">   
                            <label >Nhập Z</label>
                            <input type="number" placeholder="Nhập Z > 0" /> 
                            </div>
                            <div class = "Alight-items-x">   
                                <label>Mức sáng</label>
                                <input type="number" id="input-k" placeholder="Nhập độ sáng > 0" />
                            </div>
                            <div class = "Alight-items-x">                           
                                <button class="btn"><img src="../static/img/add1.png" alt="Tăng X"> Tăng X</button>
                                <button class="btn"><img src="../static/img/minus.png" alt="Giảm X"> Giảm X</button>
                            </div>
                            <div class = "Alight-items-x">   
                                <button class="btn"><img src="../static/img/add1.png" alt="Tăng Y"> Tăng Y</button>
                                <button class="btn"><img src="../static/img/minus.png" alt="Giảm Y"> Giảm Y</button>
                            </div>
                            <div class = "Alight-items-x">   
                                <button class="btn"><img src="../static/img/add1.png" alt="Tăng Z"> Tăng Z</button>
                                <button class="btn"><img src="../static/img/minus.png" alt="Giảm Z"> Giảm Z</button>
                            </div>
                            <div class = "Alight-items-x">   
                                <button class="btn"><img src="../static/img/check.png" alt="Chạy"> Chạy</button>
                                <button class="btn"><img src="../static/img/camera.png"alt="Chạy"> Chụp</button>
                                <button class="btn"><img src="../static/img/running.png" alt="Chạy"> Chạy hết</button>
                            </div> -->
                        </div>
                    </div> 

                    <!-- Nút điều khiển tất cả điểm -->
                    <div class="controls-all-points">
                        <button class="btn btn-add-point" id = "btn-add-master"><img src="../static/img/gallery.png" alt="Thêm master"> Thêm master</button>
                        <button class="btn btn-save"><img src="../static/img/diskette.png" alt="Chạy các Master">Chạy các Master</button>
                        <button class="btn btn-exit"><img src="../static/img/close.png" alt="Thoát master"> Thoát</button>
                    </div>                    

                </div>
                                
        </div>
    </div>
   
     
</body>
 <script type="module" src="../static/js/show_main.js"></script>    
        
</html>